[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = [
  "pip install --upgrade pip --break-system-packages",
  "pip install -r requirements.txt --break-system-packages"
]

[start]
cmd = "uvicorn app.main:app --host 0.0.0.0 --port $PORT"

